html{
    /*Para que se deslice de una sección a la otra -> BUENÍSIMO*/
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}
body{
    font-family: 'Outfit', sans-serif;
}
.wrapper{
    height: 100vh;
    width: 100%;
    content: flex;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.raya{
    display: flex;
    border: 1px solid rgb(134, 134, 134);
    width: 70%;
    margin: 0px 15%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    padding: 30px;
}
/*anchor directos de menu*/
.menu>a{
    text-decoration: none;
    margin: 0px 20px;
    font-size: 17px;
    color: rgb(151, 9, 9);
}
.menu>a:hover{
    color: rgb(102, 101, 101);
}
header{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: url(/images/fondo3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo{
    font-size: 40px;
    padding: 10px;
    color: rgb(255, 247, 242);
}
.content{
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.info{
    margin: 20px 160px;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgb(151, 9, 9);
}

/*SERVICIOS*/
.navegacion{
    height: 31vh;
    width: 100%;
}
.info-servicios{
    height: 69vh;
    width: 100%;
    background: url(/images/fondo4.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    /*justify-content: center;
    align-items: flex-end;*/
    flex-direction: column;
}

.info-servicios h1{
    text-align: right;
    color: white;
    padding: 0 30px;
    font-size: 5rem;
}
.links-servicios{
    display: flex;
    text-align: right;
    justify-content: center;
    flex-direction: column;
}
.links-servicios p{
    color: white;
    margin-right: 5rem;
}
.links-servicios a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.links-servicios a:hover{
    font-size: 1.3rem;
}

.servicios section{
    height: 100vh;
    width: 100%;
    color: white;
}
.contenedor-texto{
    height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.servicios h2{
    font-size: 4.5rem;
}

.servicios h2:hover{
    cursor: pointer;
}

.servicios p{
    font-size: 1.5rem;
    margin: 20px 20%;
}

.contenedor-texto a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.contenedor-texto a:hover{
    font-size: 1.2rem;
}

#individual{
    background: url(/images/fondo2\ \(2\).jpg) no-repeat center;
    background-size: cover;
}

#regalo{
    background: url(/images/fondo6.jpg) no-repeat center;
    background-size: cover;
}

#viaje{
    background: url(/images/fondo7.jpg) no-repeat center; 
    background-size: cover;
}

/*NOSOTROS*/
.header-nosotros{
    height: 69vh;
    width: 100%;
    background: url(/images/fondo8.jpeg) no-repeat center center;
    background-image: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

.header-nosotros h1{
    color: white;
    padding: 0 30px;
    font-size: 4.3rem;
}

.info-nosotros section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-nosotros section h2{
    text-align: center;
    font-size: 4.5rem;
    margin: 3rem;
}

.info-nosotros section p{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 15%;
}

.info-nosotros section:nth-child(odd){
    color: rgb(245, 240, 240);
    background-color: rgb(99, 6, 6);
}

.info-nosotros section:nth-child(even){
    background-color: rgb(238, 228, 228);
    color: rgb(99, 6, 6);
}

